<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
  </script>

<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">UShopping</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Promociones</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Moda</a></li>
            <li><a class="dropdown-item" href="#">Tecnologia</a></li>
            <li><a class="dropdown-item" href="#">Accesorios</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="#">Más categorias</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="search-container">
        <button type="submit" id="searchButton">
          <img src="../../../assets/search-regular-24.png" alt="Buscar" />
        </button>
        <input type="text" id="searchInput" placeholder="Buscar..." />
      </div>

      <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
        <button class="button">
          <img src="../../../assets/user-solid-24.png" alt="Buscar" />
        </button>
      </a>

      <button class="button">
        <img src="../../../assets/heart-regular-24.png" alt="Buscar" />
      </button>
      
      <button class="button">
        <img src="../../../assets/cart-regular-24.png" alt="Buscar" />
      </button>
    </div>

</nav>