<!-- <body>
    <div class="card">
        <div class="card-body">
            <form [formGroup]="formUser">
                <div class="mb-2">

                    <label class="form-label">Usuario:</label>

                    <input formControlName="email" type="text" class="form-control" placeholder="Ingrese su correo">

                    <div class="alert alert-danger mt-2" [hidden]="email.valid || email.pristine">

                        <span *ngIf="email.errors?.['required']">
                            El email es obligatorio
                        </span>

                        <span *ngIf="email.errors?.['email']">
                            El email debe ser valido
                        </span>
                    </div>

                </div>

                <div class="mb-2">
                    <label for="password">Contraseña:</label>

                    <input formControlName="password" type="password" class="form-control"
                        placeholder="Ingrese su contraseña">

                    <div class="alert alert-danger mt-2" [hidden]="password.valid || password.pristine">
                        La contraseña es obligatoria
                    </div>
                </div>

                <button class="btn btn-primary" type="submit" [disabled]="formUser.invalid">Iniciar sesión</button>
            </form>
        </div>
    </div>
</body> -->
<!--
<body>
    <div class="content">
        <div class="text">
            Login
        </div>
        <form action="">
            <div class="field">
                <input formControlName="email" type="text" class="form-control" placeholder="Ingrese su correo">
                <span class="fas fa-user"></span>
                <label for=""> Email</label>
                <div class="alert alert-danger mt-2" [hidden]="email.valid || email.pristine">

                    <span *ngIf="email.errors?.['required']">
                        El email es obligatorio
                    </span>

                    <span *ngIf="email.errors?.['email']">
                        El email debe ser valido
                    </span>
                </div>
            </div>

            <div class="field">
                <input formControlName="password" type="password" class="form-control"
                    placeholder="Ingrese su contraseña">

                <div class="alert alert-danger mt-2" [hidden]="password.valid || password.pristine">
                    La contraseña es obligatoria
                </div>
                <span class="fas fa-user"></span>
                <label for=""> Email</label>
            </div>
            <button>Sign in</button>
            <div class="sin-up">
                No estas registrado?
                <a href="">Registrate ahora</a>
            </div>
        </form>
    </div>
</body> -->

<app-header></app-header>

<body>
    <div class="form-container">
        <form [formGroup]="loginForm">
            <p class="text-danger">{{loginError}}</p>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                    <div *ngIf="email.hasError('required')">
                        El email es requerido.
                    </div>
                    <div *ngIf="email.hasError('email')">
                        El email debe tener un formato válido.
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                    <div *ngIf="password.hasError('required')">
                        La contraseña es requerida.
                    </div>
                </div>
            </div>
            <button type="submit" (click)="login()" class="btn btn-primary">Iniciar Sesión</button>
        </form>
    </div>
</body>

<app-footer></app-footer>