<app-header></app-header>

<body>
  <div class="login-container">
    <div class="img-container">
      <img src="assets/login.png" alt="">
    </div>

    <div class="form-container">
      <h1>Iniciar sesión</h1>
      <button class="buttonGoogle">
        <img src="assets/google.png" alt="Google Icon" class="mr-2 google" />
        <span class="text-zinc-600 dark:text-zinc-300">Continue With Google</span>
      </button>
      <div class="decotarionContainer">
        <div class="decoration"></div>
        <p>Ó</p>
        <div class="decoration"></div>
      </div>
      <form [formGroup]="loginForm">
        <p class="text-danger">{{loginError}}</p>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
            <div *ngIf="email.hasError('required')">
              El email es requerido.
            </div>
            <div *ngIf="email.hasError('email')">
              El email debe tener un formato válido.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
            <div *ngIf="password.hasError('required')">
              La contraseña es requerida.
            </div>
          </div>
        </div>
        <button type="submit" (click)="login()" class="btn">Iniciar Sesión</button>

        <p>¿No tienes una cuenta? <a [routerLink]="['/registro']">registrate</a></p>
      </form>
    </div>
  </div>
</body>



<app-footer></app-footer>