.container{
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    display: grid;
}

#p1{
    font-size: large;
    color: rgb(32, 236, 14);
}
#imagen-container{
    width: 626px;
    height: 358px;
    background-image: url(imagen.jpg);
    background-size: cover;
    border-radius: 10px;

}

@media (max-width: 1024px){
    body{
        font-size: 14px;
    }
    .container{
        width: 100%;
    }
    #imagen-container{
        width: 150px;
        height: 100px;
        background-image: url(imagen.jpg);
        background-size: cover;
        border-radius: 10px;
    }
    #p1{
        font-size: small;
        color: rgb(109, 205, 90);
        width: 200px;
    }
   
}

@media (max-width: 768px){
    body{
        font-size: 14px;
    }
    .container{
        width: 100%;
    }
    #imagen-container{
        width: 150px;
        height: 100px;
        background-image: url(imagen.jpg);
        background-size: cover;
        border-radius: 10px;
    }
    #p1{
        font-size: small;
        color: rgb(14, 73, 233);
        width: 200px;
    }
   
}
@media (max-width: 340px){
    body{
        font-size: 14px;
    }
    .container{
        width: 100%;
    }
    #imagen-container{
        width: 150px;
        height: 100px;
        background-image: url(imagen.jpg);
        background-size: cover;
        border-radius: 10px;
    }
    #p1{
        font-size: small;
        color: rgb(235, 23, 23);
        width: 150px;
    }
   
}

    
